# Data Types and Structures Questions Theory Question
ANSWER .1)
Data structures are ways of organizing and storing data in a computer so it can be accessed and modified efficiently. They’re like containers or blueprints for managing data in various formats depending on the task. They help you store and retrieve data quickly. Keep your data neat and logical, especially for complex programs.

ANSWER .2)
Mutable data types can be modified, meaning you can change their content without creating a new object. Examples include lists, dictionaries, and sets. For instance, you can add an item to a list or update the value of a dictionary key, and the original object will reflect those changes.
 On the other hand, immutable data types cannot be changed once they are created. If you try to modify them, a new object is created instead. Examples of immutable types include strings, tuples, and numbers. For example, strings cannot be altered in place; to change a string, you must create a new one.

ANSWER 3.)
Lists are mutable, meaning their contents can be changed after creation—you can add, remove, or modify elements. In terms of syntax, lists use square brackets (e.g., [1, 2, 3]). Lists are typically used when working with collections of items that may need modification.
Tuples, on the other hand, are immutable, so once they are created, their contents cannot be altered. This immutability makes tuples faster and more memory-efficient than lists, especially in scenarios where data doesn't need to change.

ANSWER .4)
In Python, dictionaries store data in the form of key-value pairs, using a structure called a hash table. Each item in a dictionary consists of a unique key that maps to a value. When a key is added to the dictionary, Python uses a process called hashing to convert the key into a unique hash value, which is then used to determine where the value will be stored in memory.

ANSWER .5)
You might use a set instead of a list in Python when you need to store unique items and perform fast membership tests. Sets automatically eliminate duplicate values, so if you want to ensure that your data contains no repeats, a set is the ideal choice. For example, set([1, 2, 2, 3]) will result in {1, 2, 3}.

ANSWER.6)
A string is a sequence of characters enclosed in single, double, or triple quotes—for example, "hello" or 'Python'. It is used to represent text and can include letters, numbers, symbols, and spaces. A list, on the other hand, is a sequence of items, which can be of any data type, including numbers, strings, or even other lists.

ANSWER .7)
Tuples help ensure data integrity in Python by being immutable, meaning their contents cannot be changed after creation. Once a tuple is defined, you cannot add, remove, or modify its elements. This immutability makes tuples reliable for storing fixed collections of data that should not be accidentally altered, such as coordinates, configuration settings, or function arguments that must remain constant.

ANSWER.8)
A hash table is a data structure that stores key-value pairs and allows for very fast data access using a technique called hashing. In Python, the built-in dict (dictionary) is implemented using a hash table behind the scenes.
When you store a value in a dictionary, Python takes the key, runs it through a hash function, and converts it into a unique hash value (a number). This hash value determines where the key-value pair is stored in memory.

ANSWER.9)
Yes, lists in Python 3 can contain different data types. Unlike arrays in some other programming languages, Python lists are flexible and dynamic, meaning each element in a list can be of a different type. For example, a single list can hold integers, strings, floats, booleans, or even other lists.

ANSWER.10)
 Strings are immutable in Python because once a string is created, its contents cannot be changed. First, immutability makes strings more memory-efficient and faster, especially since strings are used very frequently in programming. When multiple variables hold the same string, Python can safely point them to the same memory location without worrying that one might accidentally change the content for all others.

ANSWER.11)
Dictionaries offer several advantages over lists for certain tasks, especially when it comes to fast data access and organization. The main advantage is that dictionaries store data in key-value pairs, allowing you to access values directly using a unique key rather than searching through a sequence of items. This provides constant-time lookup on average, which is much faster than the linear-time search required in a list. Additionally, dictionaries are ideal when you need to map relationships between items, like storing configuration settings, counting occurrences, or grouping related data.

ANSWER.12)
Using a tuple would be preferable over a list in a scenario where you need to store a fixed set of values that should not change. For example, if you're storing geographic coordinates like latitude and longitude—say (40.7128, -74.0060) for New York City—a tuple is ideal because these values represent a single, constant piece of data that shouldn’t be altered. Tuples are immutable, which ensures the data remains consistent throughout the program.

ANSWER.13)
In Python, sets automatically remove duplicate values. When you create a set, any repeated elements are filtered out so that only unique items are stored. This is because sets are designed to represent unordered collections of distinct elements.

ANSWER.14)
The in keyword is used in both lists and dictionaries in Python, but it works a bit differently depending on the data structure.


ANSWER.15)
No, you cannot modify the elements of a tuple in Python because tuples are immutable. This means that once a tuple is created, its contents—meaning the number of elements and the values of those elements—cannot be changed. You can’t add, remove, or alter items in a tuple after it's been defined. This immutability is intentional and helps ensure data integrity, especially when a fixed set of values is required.

ANSWER.16)
A nested dictionary in Python is a dictionary where values themselves are dictionaries. This creates a structure that allows you to organize and access data in multiple levels, like a dictionary inside another dictionary. For Example:
 students = {
    "student1": {"name": "Alice", "age": 20, "grade": "A"},
    "student2": {"name": "Bob", "age": 22, "grade": "B"},
}

ANSWER.17)
Accessing elements in a dictionary in Python has an average-case time complexity of O(1), which means it takes constant time regardless of the dictionary’s size. This efficiency is due to the underlying hash table structure that Python uses to store dictionaries.

ANSWER.18)
Lists are preferred over dictionaries in situations where you need to store ordered collections of items and don't require unique keys. Lists are ideal when the position of elements matters, such as when you need to maintain sequence, use index-based access, or iterate in a specific order. They're also simpler to use when working with homogeneous data, like a list of numbers, names, or objects where keys aren’t necessary.

ANSWER.19)
Dictionaries in older versions of Python (before Python 3.7) were considered unordered, meaning they didn’t preserve the order in which key-value pairs were added. This was because dictionaries used hash tables, which focus on fast access rather than maintaining order. As a result, when you iterated over a dictionary, the items could appear in any order, and you couldn't rely on them being in the same sequence every time.
This affects data retrieval in that you retrieve values by key, not by position. If you need to keep things in order of insertion (like a recent history of changes), modern dictionaries will now maintain that. But if you care about actual index-based access or ordering by value, you’re still better off using a list or applying sorting logic to the dictionary items.

ANSWER.20)
The main difference between a list and a dictionary in terms of data retrieval is how you access the data.
In a list, data is retrieved using numeric indices. Each item has a specific position starting from index 0, so you access items like my_list[0] to get the first element. This works well when the order of elements matters or when you need to loop through items in sequence.
In contrast, a dictionary retrieves data using keys, not positions. Each item is stored as a key-value pair, and you access values by their key, like my_dict["name"]. This allows for faster lookups (on average O(1) time complexity), especially when you need to find data based on a label or identifier, not by position.

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it
name = "Yugal Singh"
print(name)

Yugal Singh

In [2]:
# 2. Write a code to find the length of the string "Hello World"P
print(len("Hello World"))

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
s = "Python Programming"
print(s[:3])

Pyt

In [4]:
# 4. Write a code to convert the string "hello" to uppercase
print("hello".upper())

HELLO

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [9]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst = ['a', 'b', 'c', 'd']
lst.insert(2, 'e')
print(lst)

['a', 'b', 'e', 'c', 'd']

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100, 200, 300)
print(tup)

(100, 200, 300)

In [12]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
print(tup[-2])

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

5

In [31]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index('cat'))

1

In [30]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [29]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [15]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)  #

set()

In [16]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [17]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [18]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [19]:
# 21. Write a code to create a dictionary with the keys “name”, “age”, and “city”, and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [20]:
# 22. Write a code to add a new key-value pair “country”: “USA” to the dictionary {‘name’: ‘John’, ‘age’: 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [21]:
# 23. Write a code to access the value associated with the key “name” in the dictionary {‘name’: ‘Alice’, ‘age’: 30}.
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

In [22]:
# 24. Write a code to remove the key “age” from the dictionary {‘name’: ‘Bob’, ‘age’: 22, ‘city’: ‘New York’}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [23]:
# 25. Write a code to check if the key “city” exists in the dictionary {‘name’: ‘Alice’, ‘city’: ‘Paris’}.
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

In [24]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"key": "value"}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'key': 'value'}

In [25]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = [random.randint(1, 100) for _ in range(5)]
numbers.sort()
print(numbers)

[21, 34, 64, 66, 94]

In [26]:
# 28. Write a code to create a list with strings and print the element at the third index.
lst = ["apple", "banana", "cherry", "date", "elderberry"]
print(lst[3])

date

In [27]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [28]:
# 30. Write a code to convert a list of strings into a set.
lst = ["apple", "banana", "apple"]
my_set = set(lst)
print(my_set)

{'apple', 'banana'}